/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main {
    width: 549px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

    .main .player {
        height: 231px;
        background-image: url('../img/main.png');
        color: #00e800;
    }

        .main .player .current-title {
            top: 49px;
            position: relative;
            left: 121px;
            width: 306px;
            float: left;
        }

        .main .player .timer {
            position: relative;
            top: 40px;
            left: 98px;
            font-size: 40px;
            width: 100px;
            margin: 0;
            float: left;
        }

        .main .player .buttons {
            height: 34px;
            width: 228px;
            background-color: transparent;
            top: 120px;
            left: 31px;
            position: relative;
            clear: both;
        }

            .main .player .buttons > span {
                height: 30px;
                margin: 2px;
                width: 38px;
                background-color: rgba(0, 0, 255, 0.11);;
                display: inline-block;
                cursor: pointer;
            }

                .main .player .buttons > span.disabled {
                    cursor: default;
                    background-color: transparent;
                }

    .main .playlist {
        height: 260px;
        background-image: url(../img/playlist.png);
        padding: 20px 22px 39px 12px;
        font-size: 13px;
        color: #00e800;
    }

    .main .playlist .current {
        color: white;
    }

    .main .playlist .selected {
        background-color: blue;
    }

    .main .playlist > div > span {
        float: right;
    }

    .main .console {
        border: 2px solid #5d7ec7;
        padding: 5px;
        background-color: #012456;
        color: #eeedf0;
        font-family: monospace;
        height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: text;
    }

    .main .console .entry > input {
        background: transparent;
        border: 0;
        outline: none;
        width: 380px;
    }

    .main .videoSearch .search {
        top: -33px;
        position: relative;
        left: 128px;
        width: 190px;
        border: 1px solid #55558a;
    }

        .main .videoSearch .search > input {
            border: 0;
            width: 100%;
            background-color: transparent;
            color: #c7d0da;
        }

        .main .videoSearch #response {
            display: none;
            position: absolute;
            background-color: white;
            width: 547px;
            border: 1px solid black;
            margin-top: -27px;
        }

        .main .videoSearch #response > div {
            height: 30px;
            width: 547px;
            border-bottom: 1px solid black;
            white-space: nowrap;
            overflow: hidden;
        }

        .main .videoSearch #response > div.selected, .main .videoSearch #response > div:hover {
            background-color: lightblue;
            cursor: pointer;
        }

        .main .videoSearch #response > div > img {
            height: 30px;
            vertical-align: top;
        }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
